body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,27,187,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 12px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header {
    height: 5.3rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,9,61,1) 73%, rgba(0,212,255,1) 100%);
}
nav {
    
}
ul, ol {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li.navi{
    width: 20%;
    margin: 1.5% 3% 0;
    list-style: none;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#wrapper{
    margin-top: 25px;
}
h1 {
    color: #fff;
    text-align: center;
    font-size: 1.5rem !important;
    padding-top: .5%;    
}
.center {
    margin: auto;
    width: 50%;
}
img {height: 286px;}
#card-title {text-transform: capitalize;}

footer {
    height: 10rem;
    background: #000;
    margin-top: 3%;
}